In [116]:
import pandas as pd
import numpy as np

## Load data

In [117]:
BOOKS_DATA_PATH = "../data/processed_data.csv"
REVIEWS_DATA_PATH = "../data/reviews.csv"
USERS_NUM = 25

In [118]:
books_data = pd.read_csv(BOOKS_DATA_PATH, sep=";")
books_data.head()

,book_title,author,publication_date,genre,summary,publication_year,clean_summary
0,Animal Farm,George Orwell,1945-08-17,"['Roman à clef', 'Satire', ""Children's literat...","Old Major, the old boar on the Manor Farm, ca...",1945.0,old major old boar manor farm call animal farm...
1,A Clockwork Orange,Anthony Burgess,1962,"['Science Fiction', 'Novella', 'Speculative fi...","Alex, a teenager living in near-future Englan...",1962.0,alex teenager living near future england lead ...
2,The Plague,Albert Camus,1947,"['Existentialism', 'Fiction', 'Absurdist ficti...",The text of The Plague is divided into five p...,1947.0,text plague divided five part town oran thousa...
3,An Enquiry Concerning Human Understanding,David Hume,NaN,[],The argument of the Enquiry proceeds by a ser...,NaN,argument enquiry proceeds series incremental s...
4,A Fire Upon the Deep,Vernor Vinge,NaN,"['Hard science fiction', 'Science Fiction', 'S...",The novel posits that space around the Milky ...,NaN,novel posit space around milky way divided con...

In [119]:
user_data = df = pd.DataFrame(None, index=np.arange(USERS_NUM), columns=books_data["book_title"]) 
user_data.head()

book_title,Animal Farm,A Clockwork Orange,The Plague,An Enquiry Concerning Human Understanding,A Fire Upon the Deep,All Quiet on the Western Front,A Wizard of Earthsea,Anyone Can Whistle,Blade Runner 3: Replicant Night,Blade Runner 2: The Edge of Human,...,Blood Canticle,"Much Obliged, Jeeves",The Religion War,The Planiverse,Earthly Powers,Coriolanus,The Knight of the Burning Pestle,Sanctuary,Hotel,Nightshade
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
books_data = books_data.loc[:, ["author", "book_title"]]
most_popular_authors = books_data["author"].value_counts().nlargest(USERS_NUM)
users = []
for key, val, x in zip(most_popular_authors.keys(), most_popular_authors.values, range(USERS_NUM)):
    user_data.loc[x, books_data.where(books_data["author"] == key).dropna()["book_title"].to_list()] = np.random.randint(low = 1,high=6,size=val)
user_data = user_data.sub(user_data.mean(axis=1), axis=0).fillna(0)
user_data.head()

book_title,Animal Farm,A Clockwork Orange,The Plague,An Enquiry Concerning Human Understanding,A Fire Upon the Deep,All Quiet on the Western Front,A Wizard of Earthsea,Anyone Can Whistle,Blade Runner 3: Replicant Night,Blade Runner 2: The Edge of Human,...,Blood Canticle,"Much Obliged, Jeeves",The Religion War,The Planiverse,Earthly Powers,Coriolanus,The Knight of the Burning Pestle,Sanctuary,Hotel,Nightshade
0,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0,0,0,0
1,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0,0,0,0
2,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0,0,0,0
3,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.272727,0,0,0,0
4,0,0,0,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0.000000,0,0,0,0

In [121]:
user_data.to_csv(REVIEWS_DATA_PATH, sep=";")